@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #121212;
    font-family: 'Montserrat', sans-serif;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    background-color: #000000;
    padding: 24px;
}

.sidebar .logo img{
    width: 130px;

}

.sidebar .navigation ul{
    list-style: none;
    margin-top: 20px;
}
.sidebar .navigation ul li{
    padding: 10px 0px;
}

.sidebar .navigation ul li a{
    color: rgb(199, 206, 213);
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
}

.sidebar .navigation ul li.fa{
    font-size: 19px;
    margin-right: 9px;
}

.sidebar .navigation ul li a:hover{
    color: white;
}

.sidebar .policies{
    position: absolute;
    bottom: 100px;
}

.sidebar .policies ul {
    list-style: none;
}

.sidebar .policies ul li {
    padding-bottom: 5px;
}
 
.sidebar .policies ul li a{
    color: beige;
    font-weight: 500;
    text-decoration: none;
    font-size: 10px;
}

.sidebar .policies ul li a:hover{
    text-decoration: underline;

}
